.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-flow: column wrap;
    height: 250px;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

.videoSobre .container {
    display: flex; 
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 2;
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
}

@media (max-width: 768px) {

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app {
      order: -1;  
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-button {
        width: 100%;
    }

    .rodapePrincipal-navMap-list {
        flex-flow: column;
        height:auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}